body{
    font-family:  var(--fonte-principal);
    color: #333333;

}

main{
    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

@media (max-width: 1280px){
    main{
        padding: 0.625rem;
    }

}



.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;   
    border-radius: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 41px;

}

.btn-filled{
    background-color: #ffffff;
    color: #6329A2;
    line-height: 41px;

}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
}