.header{
    position: fixed;
    width: 10px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 4px;
    background-color: #ffffff;
}

.logo img{
    height: 48px;

}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}


.nav-center a 
.nav-right a{
    font-size: 1.25rem;
    font-size: 900;
}

.nav-center a:hover, 
.nav-right a:hover {
    color: #7c3aed;
}
.nav-right{
    display: flex;
    gap: 2.5rem;
}

.nav-right img{
    height: 40px;
    width: 40px;
}   

.nav-right a:hover img{
    opacity: 0.7;
}