.header {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 48px;

}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}


.nav-center a .nav-right a {
    font-size: 1.25rem;
    color: #333333;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}

.nav-right ul{
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav-right img {
    height: 45px;
    width: 45px;
}

.nav-right a:hover img {
    opacity: 0.7;
}