.nav-right ul {
    display: flex;
    gap: 30px;
}

.nav-right ul li a {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 10; 
    
    /* Adicionado para remover qualquer preenchimento que possa fazer parecer um botão */
}

.nav-right ul li a img{
    width: 60px;
    height: 60px;
}
