.category-section{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card{
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.Casual{
    background: url("../../imagens/products/casual.png") no-repeat center;
    background-size: cover;  
}

.Esporte{
    background: url("../../imagens/products/colorido.png") no-repeat center;
    background-size: cover;  
}   

.Moderno{
    background: url("../../imagens/products/exportivo.png") no-repeat center;
    background-size: cover;  
}

.Futurista{
    background: url("../../imagens/products/futurista.png") no-repeat center;
    background-size: cover;  
}
